<div style="min-height: 20rem; width: 50rem; "
    class="album py-5 container d-flex justify-content-between">
    <div class="container">
        <div class="d-flex column justify-content-center" *ngIf="modalErro">
            <h5>Apenas agendamentos disponíveis podem ser confirmados</h5>
            <a (click)="closeModalError()"><h5>&nbsp;[X]</h5></a>
        </div>
        <div class="d-flex column justify-content-center" *ngIf="semAgendamento">
            <h5>Nenhum agendamento encontrado.</h5>
        </div>
        <div class="row justify-content-between">
            <div *ngFor="let agendamento of agendamentos" [ngClass]="{'bgRed': agendamento.status === 'atrasado', 'bgYellow': agendamento.status === 'agendado', 'bgGreen': agendamento.status === 'disponivel',  'bgBlue': agendamento.status === 'confirmado', 'bgGray': agendamento.status === 'reembolsado'}" class="card col-sm-3 m-3 justify-content-center" style="height: 17rem; min-width: 11rem;">
                <div *ngIf="agendamento.status !== 'reembolsado' && agendamento.status !== 'confirmado'" class="card__delet ">
                    <a (click)="reembolso(agendamento)" title="Reembolso">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M12.3 8.93L9.88 6.5H15.5V10H17V5H9.88L12.3 2.57L11.24 1.5L7 5.75L11.24 10L12.3 8.93M12 14A3 3 0 1 0 15 17A3 3 0 0 0 12 14M3 11V23H21V11M19 19A2 2 0 0 0 17 21H7A2 2 0 0 0 5 19V15A2 2 0 0 0 7 13H17A2 2 0 0 0 19 15Z" />
                        </svg>
                    </a>
                    
                </div>
                <div class="d-flex row mt-1">
                    <h6 class="card-title">Status:</h6>
                    <h6>{{agendamento.status}}</h6>
                    <h6 class="card-title">Data/hora inicial:</h6>
                    <h6>{{agendamento.disponibilidade.dataInicioView}}</h6>
                    <h6 class="card-title">Data/hora final:</h6>
                    <h6>{{agendamento.disponibilidade.dataFimView}}</h6>
                    <h6 class="card-title" *ngIf="loginType == 'aluno'">Nome do professor:</h6>
                    <h6 *ngIf="loginType == 'aluno'">{{agendamento.nomeProfessor}}</h6>
                    <h6 class="card-title" *ngIf="loginType == 'professor'">Nome do aluno:</h6>
                    <h6 *ngIf="loginType == 'professor'">{{agendamento.nomeAluno}}</h6>
                    <h6 class="card-title">Valor por hora:</h6>
                    <h6> $C {{agendamento.valorPorHora}}</h6>
                </div>
                
                <div class="card__arrow ">
                    <a (click)="confirmar(agendamento)" title="Confirmar agendamento">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                            <path fill="#fff"
                                d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>