<body>
  <div class="d-flex justify-content-center">
    <img src="../assets/img/logo.png" width="450" height="250" />
  </div>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex justify-content-around">
      <ul class="nav navbar-nav border">
        <li><a id="len1" class="hoverable ms-3 me-3" href="#">Inicio</a></li>
        <li><a id="len2" class="hoverable ms-3 me-3" href="#">Sobre</a></li>
        <li>
          <a id="len3" class="hoverable ms-3 me-3" href="#">Cadastre-se</a>
        </li>
        <li>
          <a id="len4" class="hoverable ms-3 me-3" href="#">Fale conosco</a>
        </li>
      </ul>
    </div>
  </nav>
  <form class="form-inline d-flex justify-content-center mt-4 mb-4">
    <div style="width: 15%">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="O que você quer aprender?"
        aria-label="Search"
      />
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>

  <router-outlet></router-outlet>
</body>
