<body>
  <div class="d-flex justify-content-center">
    <img src="../assets/img/logo.png" width="450" height="250" />
  </div>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex justify-content-around">
      <ul class="nav navbar-nav border">
        <li><a id="len1" class="hoverable ms-3 me-3" (click)="goTo('/')">Inicio</a></li>
        <li><a *ngIf="isLogado" id="len3" class="hoverable ms-3 me-3" (click)="goTo('/conta')">Conta</a></li>
        <li><a *ngIf="isLogado" id="len3" class="hoverable ms-3 me-3" (click)="goTo('/agendamentos')">Agendamentos</a></li>
        <li><a *ngIf="isLogado && loginType == 'professor'" id="len3" class="hoverable ms-3 me-3" (click)="goTo('/disponibilidades')">Disponibilidades</a></li>
        <li><a id="len2" class="hoverable ms-3 me-3" (click)="goTo('/sobre')">Sobre</a></li>
        <li><a *ngIf="!isLogado" id="len3" class="hoverable ms-3 me-3" (click)="goTo('/login')">Login/Cadastro</a></li>
        <li><a *ngIf="isLogado" id="len4" class="hoverable ms-3 me-3" (click)="logout()">Sair</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>