<div style="min-height: 20rem; width: 50rem; " class="album mt-4 container d-flex justify-content-between">
    <div class="container">
        <h5>Teacher Helps, seu portal de conhecimento!</h5>
        <p> Site desenvolvido para um projeto de faculdade, aqui professores e alunos conseguem se ajudar
            a um preço previamente cadastrado
        </p>
        <h6>Professor:</h6>
        <p> Como professor, você pode adicionanr seus dias disponíveis através do menu exclusivo de disponibilidades
            e aguardar seu primeiro agendamento de aula criado por um aluno interessado, após, aguardar confirmação
            do aluno ao agendamento para poder dar inicio a aula por qualquer meio escolhido, 
            a confirmação fica disponível 10 minutos antes da hora do agendamento e fica disponível até 10 minutos depois
        </p>
        <h6>Aluno:</h6>
        <p> Como aluno, basta cadastrar, depositar seus créditos e escolher uma disciplina, professor e disponibilidade para
            estar agendando sua aula particular, lembre-se de pontuar todos os detalhes da aula antes de clicar em confirmar!
            a confirmação fica disponível 10 minutos antes da hora do agendamento e fica disponível até 10 minutos depois,
        </p>
        <p>
            Sobre compra de $tudent Coins ($C), atualmente estamos apenas com compras por pix, envie um pix para atendimento@teacherhelps.com
            informando seu CPF ou Nome Completo e Email (juntos) no comentário do pagamento para estamos efetuando o depósito dos seus $C,
            
        </p>
        <p class="mb-3">*qualquer tranferencia feita sem as devidas confirmações serão reembolsadas e nenhum crédito será depositado.</p>
        <p>
            Sobre reembolso, você consegue efetuar reembolso de aulas agendadas, disponíveis e atrasadas mas não consegue efetuar
            de aulas já reembolsadas e de aulas confirmadas, para solicitar reembolso de aulas confirmadas por problemas técnicos 
            com o professor em questão, envie um e-mail para atendimento@teacherhelps.com informando o motivo da solicitação para 
            estarmos investigando a possibilidade do estorno da aula
        </p>
        <h6>Contato:</h6>
        <p>
            Qualquer feedback, informação, melhorias, reclamações ou abertura de chamados são feitas através do email: atendimento@teacherhelps.com
        </p>
    </div>
</div>
