<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ professor.nome }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div style="max-width: 30rem; overflow: hidden; text-align: center;">
        <h6>Sobre:</h6>
        <p>{{professor.sobre}}</p>
      </div>
      <h6>Disciplina:</h6>
        <p> {{ professor.disciplina }}</p>
        <h6>E-mail:</h6>
        <p> {{ professor.email }}</p>
        <h6>Valor:</h6>
        <p> $C {{ professor.valorPorHora }}/h</p>
    </div>
    <div *ngIf="isAlunoLogado && !this.modalError" class="d-flex flex-column align-items-center justify-content-center">
        <h6>Disponibilidade:</h6>
        <span *ngFor="let disponibilidade of disp"><a (click)="agendar(professor, disponibilidade)">{{ disponibilidade.dataInicio }} ~ {{ disponibilidade.dataFim }}</a></span>
    </div>
    <div *ngIf="isAlunoLogado && this.modalError" class="d-flex flex-column align-items-center justify-content-center">
      <p class="mb-0">Você não tem Student Coins($C) suficiente para agendar</p>
      <p>Saiba como comprar mais aqui:</p>
      <a class="proximo me-4" (click)="goToSobre()">Sobre</a>
      <span *ngFor="let disponibilidade of disp"><a (click)="agendar(professor, disponibilidade)">{{ disponibilidade.dataInicio }} ~ {{ disponibilidade.dataFim }}</a></span>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
  </div>