.inp-nome{
    max-width: 50rem !important;
  }
  
  .inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 190px;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .inp .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 14px;
    color: rgba(0, 0, 0);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }
  
  .inp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
  }
  
  .inp input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.61);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
  }
  
  .inp input:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0);
  }
  
  .inp input:not(:-moz-placeholder-shown) + .label {
    color: rgba(0, 0, 0);
    transform: translate3d(0, -12px, 0) scale(0.75);
  }
  
  .inp input:not(:-ms-input-placeholder) + .label {
    color: rgba(0, 0, 0);
    transform: translate3d(0, -12px, 0) scale(0.75);
  }
  
  .inp input:not(:placeholder-shown) + .label {
    color: rgba(0, 0, 0);
    transform: translate3d(0, -12px, 0) scale(0.75);
  }
  
  .inp input:focus {
    background: rgba(255, 255, 255, 0.493);
    outline: none;
    box-shadow: inset 0 -2px 0 #0077FF;
  }
  
  .inp input:focus + .label {
    color: #0077FF;
    transform: translate3d(0, -12px, 0) scale(0.75);
  }
  
  .inp input:focus + .label + .focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
  }
  
  /* From uiverse.io */
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.proximo {
    width: 10rem;
    height: auto;
   }
   
   button.proximo .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #a3a3cc;
    border-radius: 1.625rem;
   }
   
   button.proximo .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.proximo .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.proximo .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.proximo .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.65rem 0;
    margin: 0 0 0 1.85rem;
    color: #a3a3cc;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }